<div>
	<header>
		<a href="{{link}}" target="_blank">
			<img src="{{logo}}" alt="">
		</a>
	</header>
	<div>
		{%- for e in entries %}
		<div class="linkclass">
			<a href="{{e.link}}" target="_blank">{{e.title}}</a>
		</div>
		{%- endfor %}
	</div>
</div>
